# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment
.env

# Runtime data
config/*
!config/.gitkeep

data/*
!data/.gitkeep

# Logs
*.log
logs/*
!logs/.gitkeep

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Distribution
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# config
data/config.json
