<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if title %}
            {{ title }} - GarminSupla
        {% else %}
            GarminSupla
        {% endif %}
    </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- GarminSupla CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', path='css/app.css') }}">

</head>

<body>

<div class="container d-flex flex-column py-2">

    <header class="pt-3 pt-lg-4 pb-2 pb-lg-3 text-center">
        <h1 class="display-5 fw-semibold app-title">
            <i class="bi bi-smartwatch me-2"></i>
            GarminSupla
        </h1>

        <p class="text-muted mb-0">
            Garmin Connect IQ integration for SUPLA
        </p>
    </header>

    <main class="flex-grow-1 d-flex justify-content-center align-items-start align-items-lg-center">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="py-2 text-center text-muted small">
        Version {{ version }}
    </footer>

</div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', path='js/app.js') }}"></script>

</body>
</html>
